<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.gilgamesh.xena"
	android:versionName="@string/xena_version">

	<uses-sdk android:targetSdkVersion="34" />

	<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

	<application android:label="Xena" android:name=".XenaApplication">
		<activity android:name=".filesystem.FilePickerActivity"
			android:exported="true"
			android:launchMode="singleTop"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".scribble.ScribbleActivity"
			android:exported="true"
			android:launchMode="singleTop"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
			<intent-filter>
				<action android:name="android.intent.action.RUN" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
	</application>
</manifest>
